<!--The content below is only a placeholder and can be replaced.-->
<div class="cart">
  <div class="container-fluid px-0">
      <nav class="navbar navbar-light bg-light justify-content-between w-100 py-3">
        <div class="col-md-2">
          <img src="assets/18-512.png" class="img1">
          <a class="navbar-brand">Shopping Kart</a>
        </div>
        <div class="col-md-6">
          <form class="form-inline">
            <input class="form-control mr-sm-2 w-100" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </div>
        <div class="col-md-3">
          <a  class="px-3 py-2 mx-2 btn btn-outline-dark" *ngIf="isloggedin" routerLink='/products'>Home</a>
        <a  class="px-3 py-2 mx-2 btn btn-outline-dark"*ngIf="isloggedin" routerLink='/cart'>Cart</a>
        <a class="px-3 py-2 mx-2 btn btn-outline-dark" *ngIf="!isloggedin" routerLink='/login'>Login</a>
        <a class="px-3 py-2 mx-2 btn btn-outline-dark" *ngIf="isloggedin" (click)="onlogout()"routerLink='/login'>Logout</a>
        </div>
        </nav>
  </div>
</div>

<!-- <app-productlist *ngIf="selectnow== 'home'"></app-productlist>
<app-minicart  *ngIf="selectnow== 'cart'"></app-minicart>
<app-productdetails *ngIf="selectnow=='1'"></app-productdetails>
 -->

 <router-outlet></router-outlet>