<div class="col-md-4 mx-4 my-5">
  <div class=" card " style="width: 18rem;height: 30rem">
      <img class="card-img-top pt-5" src="{{products.Image}}" height="200" alt="Card image cap">
      <div class="card-body text-center">
        <h5 class="card-title">{{products.Name}}</h5>
        <p class="card-text">Display Size:{{products.DisplaySize}}<br>
          Operating System: {{products.OperatingSystem}}<br>
          Cpu Model Family:{{products.CpuModelFamily}}</p>
        <a class="btn btn-outline-primary my-4" routerLink='/product-details/{{products.id}}'>View Details</a>
      </div>
    </div>
  </div>
