<div>
    <div class="text-center py-5">
        <img src='{{productdetail.Image}}' class="w-30"> 
        <h2>{{productdetail.Name}}</h2>
        <h2>{{productdetail.DisplaySize}}</h2> 
        <h2>{{productdetail.OperatingSystem}}</h2> 
        <h2>{{productdetail.CpuModelFamily}}</h2>
        <button class="btn btn-primary" type="button" (click)="viewcart()">Add to Cart</button>
    </div>
</div>