<div class="container">
  <div class="row py-5">
<div class="col-md-2"></div>
<div class="col-md-8">
<form #myform='ngForm' (ngSubmit)="onsubmit(myform)">
    <div class="form-group">
     
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" #inp1="ngModel" ngModel placeholder="Enter email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div *ngIf="inp1.errors&&inp1.errors.required&&inp1.touched">
      <small>Mandatory input</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1"ngModel placeholder="Password" required>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">Submit</button>
  </form>
</div>
<div class="col-md-2"></div>
</div>
</div>
